export(krigr_cross_validation)
export(load_gene_data)
export(load_grm)
export(load_sample_data)
export(make_PCs_gds)
export(make_PCs_irlba)
export(make_PCs_svd)
export(make_grm)
export(make_grm_gds)
export(okriging)
export(rcppcormat)
import(ROCR)
import(SNPRelate)
import(doMC)
import(gdsfmt)
import(irlba)
